@import "tailwindcss";
/* 1. Import the font from Google Fonts */
@import url('https://googleapis.com');

@custom-variant dark (&:where(.dark, .dark *));


@theme {
   /* 2. Create custom font utilities */
  --font-sans: 'Poppins', sans-serif;
  --font-serif: 'Playfair Display', serif;
  --font-display: 'Impact', sans-serif;
}